[Unit]
Description=ahlev.com

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/var/www/ahlev.com/shell/start.sh
ExecStop=/var/www/ahlev.com/shell/stop.sh

[Install]
WantedBy=multi-user.target
